<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestros Rios</title>
</head>
<body>
    <header>
        <nav>
            <a href="/Entregas/BasicoHtml/BasicoHtml-Corrección/templates/index.html">Página principal</a>
            <a href="/Entregas/BasicoHtml/BasicoHtml-Corrección/templates/info.html">Conoce nuestros Rios</a>
            <a href="/Entregas/BasicoHtml/BasicoHtml-Corrección/templates/imagenes.html">Portal a nuevas aventuras</a>
        </nav>
    </header>
    <div class="content">
        <h1 style="color:red ;">Información sobre los Rios de Colombia</h1>
        <br>
        <h1 style="color:blue ;"><mark>Rio Magdalena</mark></h1>
        <br>
        <p><i>El río Magdalena no es solo la corriente de agua más importante de Colombia, sino que también es único en el mundo por su localización, su caudal de agua y sedimentos, su morfología y su dinámica fluvial. La grandeza del río y su riqueza se ven amenazadas diariamente por la aceleración del desarrollo, la industrialización y la globalización, en detrimento de los recursos de la agricultura, la ganadería, la acuicultura y el desarrollo socioeconómico sostenible.</i></p>
        <hr>
        <h1 style="color:blue ;"><mark>Rio Amazonas</mark></h1>
        <br>
        <p><i>El Amazonas es el principal río de Sudamérica y el más caudaloso del mundo, al contener más agua que el Nilo, el Yangtsé y el Misisipi juntos. Su cuenca hidrográfica riega una vasta región y soporta miles de especies de seres vivos, algunos de los cuales aún no han sido clasificados.</i></p>
        <hr>
        <h1 style="color:blue ;"><mark>Rio Cauca</mark></h1>
        <br>
        <p><i>El río Cauca es el segundo río más importante de Colombia. Nace cerca de la laguna del Buey en el Macizo Colombiano, específicamente en el Parque nacional natural Puracé en los límites entre los departamentos de Cauca y Huila. En su recorrido entre las cordilleras Central y Occidental, el río Cauca pasa por más de 180 municipios en los departamentos de Cauca, Valle del Cauca, Risaralda, Caldas, Antioquia, Sucre y Bolívar</i></p>
    </div>
</body>
</html>