<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer html</title>
    <style>
      table,th,td{
          border: 1px solid black;
          border-collapse: collapse;
      }
      td,th{
          padding: 5px;
      }
      th{
          text-align: left;
      }
  </style>
</head>
<body>
  <h1>Usuarios del sistema</h1>
  <p>Esta es la lista de usuarios del sistema</p>
  <a href="/Luis/templates/agregar.html">Agregar Usuario</a>
  <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Telefono</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01</td>
          <td>Luis</td>
          <td>Ruiz</td>
          <td>123456789</td>
          <td>
              <a href="/Luis/templates/agregar.html">Editar</a>
              <a href="*">Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>01</td>
          <td>Luis</td>
          <td>Ruiz</td>
          <td>123456789</td>
          <td>
              <a href="/Luis/templates/agregar.html">Editar</a>
              <a href="*">Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>01</td>
          <td>Luis</td>
          <td>Ruiz</td>
          <td>123456789</td>
          <td>
              <a href="/Luis/templates/agregar.html">Editar</a>
              <a href="*">Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>01</td>
          <td>Luis</td>
          <td>Ruiz</td>
          <td>123456789</td>
          <td>
              <a href="/Luis/templates/agregar.html">Editar</a>
              <a href="*">Eliminar</a>
          </td>
        </tr>
        <tr>
          <td>01</td>
          <td>Luis</td>
          <td>Ruiz</td>
          <td>123456789</td>
          <td>
              <a href="/Luis/templates/agregar.html">Editar</a>
              <a href="*">Eliminar</a>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>