<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de pagina</title>
</head>
<body>
    <h3>Página ejemplo</h3>
    <a href="/templates/index.html">Regresar al menú</a>
    |
    <a href="/templates/basic-elements.html">Elementos Básicos</a>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quibusdam asperiores nulla quaerat, ex blanditiis! Molestiae aliquid laborum nisi illum sunt, amet hic blanditiis at nam dicta, dolorum sequi magnam!</p>
</body>
</html>