<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elementos Basicos</title>
</head>
<body>
    <h2>Elementos básicos de html</h2>
    <a href="/templates/index.html">Regresar al menú principal</a>
    <hr>
    <h1>Titulo H1</h1>
    <h2>Titulo H2</h2>
    <h3>Titulo H3</h3>
    <h4>Titulo H4</h4>
    <h5>Titulo H5</h5>
    <h6>Titulo H6</h6>
    <hr>
    <h3>Parrafo:</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati accusantium fugit delectus dicta omnis hic. Perspiciatis aperiam aut at eius in qui ipsa. Repellendus, aspernatur doloremque quisquam culpa possimus suscipit.</p>
    <hr>
    <h3>Links</h3>
    <a href="/templates/example.html">Página de ejemplo</a>
    |
    <a href="https://www.youtube.com/">Enlace a Youtube</a>
    <hr>
    <h3>Imágenes</h3>
    <h4>Logo CSS</h4>
    <img src="../src/images/css_image.png" alt="css logo">
    <h4>Logo HTML</h4>
    <img src="../src/images/html_image.jpg" alt="html logo">
    <h4>Logo JS</h4>
    <img src="../src/images/js_image.jpg" alt="js logo">
</body>
</html>