<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
</head>
<body>
    <h2>En esta página encontrarás los ejemplos de tablas en html</h2>
    <a href="/templates/index.html">Regresar al menú principal</a>
    <hr>
    <h3>Tabla Empleado</h3>
    <!--Iniciamos la tabla con la etiqueta "table"-->
    <table>
        <!--Iniciamos cada fila con la etiqueta "tr"= table row-->
        <tr>
            <!--Iniciamos el header de la tabla con "th"-->
            <th> Id </th>
            <th> Nombre </th>
            <th> Apellido </th>
            <th> Telefono </th>
            <th> Cargo </th>
            <th> Contrato </th>
        </tr>
        <tr>
            <!--Iniciamos la data con "td"= table data-->
            <td> 1061987234 </td>
            <td> Luis Carlos </td>
            <td> Ruiz Chicangana </td>
            <td> 313 640 9441 </td>
            <td> Presidente </td>
            <td> 1000212310022 </td>
        </tr>
        <tr>
            <!--Iniciamos la data con "td"= table data-->
            <td> 1061123543 </td>
            <td> Diego Alejandro </td>
            <td> Chicangana Campo </td>
            <td> 313 345 2134 </td>
            <td> Vicepresidente </td>
            <td> 1000212345566 </td>
        </tr>
    </table>
    <hr>
    <h3>Tabla Dirección de Empleado</h3>
    <table>
        <tr>
            <th> Id Usuario </th>
            <th> Pais </th>
            <th> Departamento </th>
            <th> Ciudad </th>
            <th> Calle </th>
            <th> Barrio </th>
            <th> Detalle </th>
        </tr>
        <tr>
            <td>1061987234</td>
            <td>Colombia</td>
            <td>Cauca</td>
            <td>Popayán</td>
            <td>Calle 2B #52-03</td>
            <td>Lomas de Granada</td>
            <td>Casa 2 planta</td>
        </tr>
        <tr>
            <td>1061123543</td>
            <td>Colombia</td>
            <td>Valle del cauca</td>
            <td>Cali</td>
            <td>Condominio Los Pinos verdes</td>
            <td>Asturias</td>
            <td>Torre 2 - Apto 45</td>
        </tr>
    </table>
</body>
</html>