<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <style>
        table,th,td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        td,th{
            padding: 5px;
        }
        th{
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>Usuarios del sistema</h1>
    <hr>
    <p>Esta es una lista de usuarios</p>
    <p>del sistema </p>
    <a href="/Diego/Template/agregaru.html">Agregar usuario</a>
    
    <br>
    <br>
    

    <table>
        
        <tbody>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>N.telefono</th>
            <th>Acción</th>
          </tr>
          <tr>
            <td>1.</td>
            <td>Santiago</td>
            <td>Bolaños</td>
            <td>123456789</td>
            <td><a href="/Diego/Template/agregaru.html">Editar</a>
                <br><a href="">Eliminar</a></td>

          </tr>
          <tr>
            <td>2.</td>
            <td>George</td>
            <td>Harrison</td>
            <td>987654321</td>
            <td><a href="/Diego/Template/agregaru.html">Editar</a>
                <br><a href="">Eliminar</a></td>

          </tr>
          <tr>
            <td>3.</td>
            <td>Pepito</td>
            <td>Perez</td>
            <td>654987321</td>
            <td><a href="/Diego/Template/agregaru.html">Editar</a>
                <br><a href="">Eliminar</a></td>

          </tr>
          <tr>
            <td>4.</td>
            <td>Juan</td>
            <td>Lopez</td>
            <td>357951464</td>
            <td><a href="/Diego/Template/agregaru.html">Editar</a>
                <br><a href="">Eliminar</a></td>

          </tr>
          <tr>
            <td>5.</td>
            <td>Angel</td>
            <td>Rodriguez</td>
            <td>963852741</td>
            <td><a href="/Diego/Template/agregaru.html">Editar</a>
                <br><a href="">Eliminar</a></td>
          </tr>
        </tbody>
      </table>
    
</body>
</html>